# Assignment 5

Due Mar 6 (Mon). Materials up to session 11 are covered.

### Q1. Explain the notion of a `definite` loop

(see py4e video)

YOUR EXPLANATION HERE
A definite loop is an interative loop that will continue back to the first line of the loop until the condition is met and the hits a trigger that stops the loop

### Q2. Create an infinite `while` loop

Optionally, if you have time, create an infinite `for` loop

In [ ]:
# REPLACE THIS WITH YOUR CODE

### Q3. The following function does not work. Explain why it is wrong and fix it.

In [ ]:
# my_add is a function that takes two inputs and returns the sum of them.
def my_add(a, b)
  a+b

YOUR EXPLANATION HERE
It contains syntax error, need to add ':' to define function

In [ ]:
# REPLACE THIS WITH YOUR CODE

### Q4. 

Define a function `pizza`. The `pizza` function takes a string as input, and return a string that add " pizza" on the tail of it. For example, `pizza("Pineapple")` should return "Pineapple pizza". Use `def` keyword to define a function.

In [ ]:
# REPLACE THIS WITH YOUR CODE

In [ ]:
print(pizza("Pineapple")) # "Pineapple pizza"
print(pizza("Mushroom")) # "Mushroom pizza"
print(pizza("Margherita")) # "Margherita pizza"

### Q5.

Define a function `my_len`. The `my_len` function takes a list as input, and return the number of elements in the list. For example, `my_len(["Pineapple", "Mushroom", "Margherita"])` should return `3`. Use `def` keyword to define a function. Use `for` or `while` loop to answer. Do *NOT* use `len`.

In [ ]:
# REPLACE THIS WITH YOUR CODE

In [ ]:
print(my_len(["Pineapple", "Mushroom", "Margherita"])) #3
print(my_len([])) #0
my_str = "While some of New Yorkâ€™s most celebrated kitchens are dormant,"\
        " Winner, a takeout-only cafe in Brooklyn, has flourished.".split(" ")
print(my_len(my_str)) #18

### Q6. Saturday night fever

March 1 2021 is Monday. Print the each day of a list of $[1,...,31]$ by using `for` or `while` statement. If the day in this month is Saturday, print "Dancing!" instead of printing the day. 

Hint: Use `for` or `while` loop to iterate over the `days`, and if-else condition to check the reminder.

C.f. https://www.youtube.com/watch?v=i5tBXe0kSLA

In [ ]:
days = list(range(1,32)) #list of [1,2,...,31]

In [ ]:
# REPLACE THIS WITH YOUR CODE

The expected solution is like

```
1
2
3
4
5
Dancing!
7
8
9
10
11
12
Dancing!
14
15
... (lines) ...
30
31
```

### Q7.

Write a program that receives user for three pieces of information as variables: 
* a starting balance, 
* a target balance, 
* and an interest rate (entered as 0.05 for 5%, for example)

The program then outputs the number of years required for the starting balance to have grown larger than the target balance. While this can be computed directly mathematically, we want for this exercise to use a while loop to figure out the answer. The answer should just be a line stating something like: "_To grow an initial investment of \\$1000 to  \\$2000 at 5.0% will require `XX` years_".

Hint: You will need a variable to store the number of years that passed. You will also need a variable to hold the current balance in the account, as it grows over the years.

In [ ]:
starting = 1000
target = 2000
interest = 0.05
years = 0

# REPLACE THIS WITH YOUR CODE

print("To grow an initial investment of",starting,"to",
      target,"at",interest*100,"%","will require",years,"years")

### Q8.

Write a program that uses a for loop to print

* `One of the months of the year is January`
* `One of the months of the year is February`
* `One of the months of the year is March`
* etc ...

In [ ]:
months = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]

# REPLACE THIS WITH YOUR CODE

### Q9.

Assume you have a list of numbers `1, 4, 9, 16`

* Write a loop that calculate the sum of number (= implement equivalent of sum function by yourself).

In [ ]:
numbers = [1, 4, 9, 16]

my_sum = 0
# REPLACE THIS WITH YOUR CODE. Calculate the sum of numbers and put it into my_sum

# Print my_sum.

Optionally,


*   Calculate the sum of the squares of the numbers.
*   Calculate the sum of the odd numbers (ex `1,4,9,16` -> 1+9=10)
*   Convert all the numbers into string and concate it into single string (`1,4,9,16` -> "14916")

### Q10. Penguins revisited

In [ ]:
all_penguins = ['Adelie', 'African', 'Chinstrap',
 'Emperor', 'Fiordland', 'Galapagos', 'Gentoo',
 'Humboldt', 'King', 'Little', 'Macaroni',
 'Magellanic', 'Rockhopper', 'Royal', 'Yellow-eyed']
all_heights = [28, 27, 27, 
               45, 28, 19, 32,
               27, 37, 16, 27,
               27, 21, 30, 30]

Print the following by using a `while` loop
```
The Adelie penguin is around 28 inches tall
The African penguin is around 27 inches tall
The Chinstrap penguin is around 27 inches tall
The Emperor penguin is around 45 inches tall
The Fiordland penguin is around 28 inches tall
The Galapagos penguin is around 19 inches tall
The Gentoo penguin is around 32 inches tall
The Humboldt penguin is around 27 inches tall
The King penguin is around 37 inches tall
The Little penguin is around 16 inches tall
The Macaroni penguin is around 27 inches tall
The Magellanic penguin is around 27 inches tall
The Rockhopper penguin is around 21 inches tall
The Royal penguin is around 30 inches tall
The Yellow-eyed penguin is around 30 inches tall
```

In [ ]:
# REPLACE THIS WITH YOUR CODE

Print the following by calculating an average with `while` or `for` loop (and optionally rounding by `round(val, 2)` function).
```
An average penguin is around 28.07 inches tall
```

In [ ]:
# REPLACE THIS WITH YOUR CODE

### Q11. Bronx zoo revisited

In [ ]:
open_close = ["10", "17"] #open at 10am, close at 5pm animal exhibits close 30mins before the close time

exhibits = [
    "JUNGLEWORLD", "MADAGASCAR!", "TIGER MOUNTAIN", "BIG BEARS", 
    "AFRICAN PLAINS", "AMERICAN BISON", "AQUATIC BIRD HOUSE & SEA BIRD AVIARY", "BIRDS OF PREY",
    "BUTTERFLY GARDEN", "CARTER GIRAFFE BUILDING", "CHILDREN'S ZOO", "CONGO GORILLA FOREST",
    "GELADA RESERVE", "HIMALAYAN HIGHLANDS", "MOUSE HOUSE", "SEA LION POOL", 
    "WILD ASIA MONORAIL", "WORLD OF BIRDS", "WORLD OF REPTILES", "ZOO CENTER"]
featured_exhibits = exhibits[:4]

# for example, featured_exhibits[1] is the description on "MADAGASCAR!" exhibit
featured_exhibits_description = [
    "Grooming each other atop a maze of branches in our Asian jungle,"
    " the ebony langurs defy expectations. Though most of this species is colored black,"
    " many of ours are orange, echoing a group on an island in Indonesia.",
    "There are about 97 lemur species native to the island of Madagascar,"
    " among them Coquerelâ€™s Sifaka. Ours are often active, using their strong"
    " hind legs to leap from limb to limb and rock to vine.",
    "Tiger Mountain is full of things for our big catsâ€”and visitorsâ€”to explore."
    " Get nose-to-nose with our stars in stripes and discover how we protect tigers"
    " through our work here at the zoo and in the wild.",
    "Our brown bears are a fan favorite. Itâ€™s easy to understand why, when we watch them"
    " splash around in the shallow water. In the wild, some of these bears grew too comfortable"
    " around people or were orphaned, so we brought them to the zoo as rescues."]

animals = [
    "AARDVARK", "AFRICAN PAINTED DOG", "ALDABRA TORTOISE", "AMERICAN ALLIGATOR",
    "AMERICAN BISON", "AMUR TIGER", "ANACONDA", "ANDEAN CONDOR",
    "ASIAN ELEPHANT", "BABY DOLL SHEEP", "BALD EAGLE", "BLUE IGUANA",
    "BOER GOAT", "CALIFORNIA SEA LION", "CARIBBEAN FLAMINGO", "CHINCHILLA",
    "COLLARED LEMUR", "COQUEREL'S SIFAKA", "CUBAN AMAZON PARROT", "EBONY LANGUR",
    "FENNEC FOX", "FOSSA", "GELADA", "GIANT ANTEATER", 
    "GIRAFFE", "GORILLA", "GRIZZLY BEAR", "HENKEL'S LEAF-TAILED GECKO", 
    "INDIAN GHARIAL", "INDIAN RHINOCEROS", "KING COBRA", "KING VULTURE",
    "KOMODO DRAGON", "LINNE'S TWO-TOED SLOTH", "LION", "LITTLE PENGUIN",
    "MADAGASCAR TREE BOA", "MAGELLANIC PENGUIN", "MALAYAN TAPIR", "MALAYAN TIGER", 
    "MATSCHIE'S TREE KANGAROO", "MINI DONKEY", "MONARCH BUTTERFLY", "NILE CROCODILE",
    "NORTH AMERICAN PORCUPINE", "NUBIAN IBEX", "OKAPI", "POISON DART FROG",
    "PYGMY MARMOSET", "RADIATED TORTOISE", "RED PANDA", "RED RUFFED LEMUR",
    "RING-TAILED LEMUR", "RING-TAILED MONGOOSE", "ROCK HYRAX", "SMALL CLAWED ASIAN OTTER",
    "SNOW LEOPARD", "SNOWY OWL", "SOUTHERN WHITE-FACED OWL", "SOUTHERN WHITE RHINOCEROS",
    "SQUIRREL MONKEY", "TUFTED PUFFIN", "WHITE CHEEKED GIBBON", "WHITE-THROATED BEE EATER",
    "ZEBRA"]

# for example, animal_exhibit[2] is where "ALDABRA TORTOISE" (= animals[2]) is.
animal_exhibit = [
    "CARTER GIRAFFE BUILDING", "AFRICAN PLAINS", "ZOO CENTER", "WORLD OF REPTILES",
    "AMERICAN BISON", "TIGER MOUNTAIN", "WORLD OF REPTILES", "BIRDS OF PREY",
    "WILD ASIA MONORAIL", "CHILDREN'S ZOO", "BIRDS OF PREY", "WORLD OF REPTILES",
    "CHILDREN'S ZOO", "SEA LION POOL", "AQUATIC BIRD HOUSE & SEA BIRD AVIARY", "MOUSE HOUSE",
    "MADAGASCAR!", "MADAGASCAR!", "WORLD OF BIRDS", "JUNGLEWORLD",
    "CHILDREN'S ZOO", "MADAGASCAR!", "GELADA RESERVE", "CHILDREN'S ZOO",
    "CARTER GIRAFFE BUILDING", "CONGO GORILLA FOREST", "BIG BEARS", "MADAGASCAR!",
    "JUNGLEWORLD", "WILD ASIA MONORAIL", "WORLD OF REPTILES", "BIRDS OF PREY",
    "ZOO CENTER", "CHILDREN'S ZOO", "AFRICAN PLAINS", "AQUATIC BIRD HOUSE & SEA BIRD AVIARY",
    "MADAGASCAR!", "AQUATIC BIRD HOUSE & SEA BIRD AVIARY", "JUNGLEWORLD", "TIGER MOUNTAIN",
    "JUNGLEWORLD", "CHILDREN'S ZOO", "BUTTERFLY GARDEN", "MADAGASCAR!", 
    "CHILDREN'S ZOO", "BABOON RESERVE", "CONGO GORILLA FOREST", "WORLD OF REPTILES",
    "CONGO GORILLA FOREST", "MADAGASCAR!", "HIMALAYAN HIGHLANDS", "MADAGASCAR!",
    "MADAGASCAR!", "MADAGASCAR!", "BABOON RESERVE", "JUNGLEWORLD",
    "HIMALAYAN HIGHLANDS", "BIRDS OF PREY", "CARTER GIRAFFE BUILDING", "ZOO CENTER", 
    "CHILDREN'S ZOO", "AQUATIC BIRD HOUSE & SEA BIRD AVIARY", "JUNGLEWORLD", "WORLD OF BIRDS", 
    "AFRICAN PLAINS"
]

#### Print the following by using list indexing operator.

```
The Bronx Zoo opens at 10 and closes at 17.
```

In [ ]:
# REPLACE THIS WITH YOUR CODE

#### Print the following by using `len` function.

```
There are 20 exhibits
```

In [ ]:
# REPLACE THIS WITH YOUR CODE

#### Print the following by using `count` function (see notebook F for the count function).



```
JUNGLEWORLD has 6 species of animals
MADAGASCAR! has 10 species of animals
TIGER MOUNTAIN has 2 species of animals
BIG BEARS has 1 species of animals
AFRICAN PLAINS has 3 species of animals
AMERICAN BISON has 1 species of animals
AQUATIC BIRD HOUSE & SEA BIRD AVIARY has 4 species of animals
BIRDS OF PREY has 4 species of animals
BUTTERFLY GARDEN has 1 species of animals
CARTER GIRAFFE BUILDING has 3 species of animals
CHILDREN'S ZOO has 8 species of animals
CONGO GORILLA FOREST has 3 species of animals
GELADA RESERVE has 1 species of animals
HIMALAYAN HIGHLANDS has 2 species of animals
MOUSE HOUSE has 1 species of animals
SEA LION POOL has 1 species of animals
WILD ASIA MONORAIL has 2 species of animals
WORLD OF BIRDS has 2 species of animals
WORLD OF REPTILES has 5 species of animals
ZOO CENTER has 3 species of animals
```

### Q12. (adapted from session 10)  Create a random password generator function "get_password" that generates a random sequence of 10 characters/digits.

In [ ]:
# Preparation
import random, string
aldigits = string.ascii_letters + string.digits

In [ ]:
random.choice(aldigits)

In [ ]:
def get_password():
# REPLACE THIS WITH YOUR CODE

In [ ]:
get_password() # This gives a random password, such as 'EhV3hwtLkz'

### Q13. Function debugging (note: same as Q4 in session 11)

Functions should be tested by calling several values. In particular, some of the functions works 95\% of the possible inputs but fails in the other 5\%. The latter examples are called 'corner cases'.

#### Q13.1 Confirm the behavior of the following function by debug tracer (pythontutor.com). 

Note: This program works perfectly, but redundant.

In [ ]:
def one(arg): #a function that checks whether the value is 1 or not
    return arg == 1
    print("arg = ",arg)

print(one(1))
print(one(2))

#### Q13.2 Explain why the following program is wrong and fix it.

Hint: 

* Try calling the `Bronx_zoo_ticket` with several different parameters.
* Does it work if we replace every `elif` with `if`?

In [ ]:
# Adult (age: 13 & over) $33.95
# Senior (age: 65 & over) $28.95
# Child (age: 3 - 12) $23.95
# Child (age: 2 & under) Free

def Bronx_zoo_ticket(age):
    cost = 0
    if age >= 12:
        cost = 33.95
    elif age >= 65:
        value = 28.95
    elif age <= 12:
        cost = 23.95
    elif age <= 2:
        cost = 0

YOUR EXPLANATION HERE

#### Q13.3  Consider the following function `sentiment`. This function takes a string as an input.

* If the input includes both "good" and "bad", then it returns "mixed".
* If the input only includes "good", then it returns "happy".
* If the input only includes "bad", then it returns "sad".
* If the input does not include "good" or "bad", then it returns "neutral"

Find the "corner case" of this function.

In [ ]:
def sentiment(my_str):
    if "good" in my_str:
        return "happy"
    elif "bad" in my_str:
        return "sad"
    elif "good" in my_str and "bad" in my_str:
        return "mixed"
    else:
        return "neutral"

#### Q13.4 Consider the following function `leap_year` that checks whether or not the `year`is leap year. Check the function by calling it several times, and propose a fix.

Definition of the leap year.
```
A leap year (also known as an intercalary year or bissextile year) is a calendar year that contains an additional day of February 29. A year is leap year if (1) it is divisible by `400` or (2) divisible by `4`, except for years divisible by `100`.
```

Note: The function is wrong in several ways.

In [ ]:
def leap_year(year):
    if (year % 4) == 0:
        return True
    elif (year % 100) == 0:
        return False
    elif (year % 400) == 0:
        return True