Primitive Data Types
--------------------

These are the basic data types that constitute all of the more complex data structures in python. The basic data types are the following:

* Strings (for text -- we work on today)
* Numeric types (integers and floats)
* Booleans (we will do later)

### String variables

String variables are used to store textual data, characters and sequences of characters. Can be specified by surrounding some text with single `'` or double `"` quotes.

In [ ]:
str_1 = "Hello World!"
print(str_1)

In [ ]:
str_1 = "single quote ->'" 
str_2 = 'double quote -> "'
print(str_1 + " " + str_2)

#### Multiline strings

If we have a piece of text with multiple lines, then triple quotes (either `'''` or `"""`) can be used to surround the text.

In [ ]:
str_2 = """
If we want to have multiple lines in the string
then we can use triple quotes: This is a multiline
a
 b
  c
   d
    e
string!
"""
# str_3 = "standard Double-Quoted-str"
print(str_2)

In [ ]:
str_3 = '''
Semiconductor companies had their best sales year ever in 2021
 and industry executives expect that total to double in less
 than a decade, to more than $1 trillion.
'''
print(str_3)
# https://www.wsj.com/articles/SB00359794827824253615704588332721497568536

### Operations on Strings 

We have seen some common operations on numeric variables. Now, letâ€™s discuss a few **common** operations on string variables. The complete list of string operations is [available here](http://docs.python.org/3/library/string.html).

#### Concatenation

The `+` operator concatenates two strings:

In [ ]:
# note that + concatenates strings
str1 = "hello"
str2 = "world"
message = str1 + " " + str2 + "!" 
print(message)

Notice the difference of the `+` operation when operating on text vs. numeric variables:

In [ ]:
x = 41
x = x + 1
print(x)

In [ ]:
x = '41'
x = x + '1'
print(x)

### Exercise
Concatenate the following words

In [ ]:
The = "The "
quick = "quick "
brown = "brown "
fox = "fox "
jumps = "jumps"

In [ ]:
print(YOUR SOLUTION HERE; CONCATENATE THEM!)

### Exercise

You are given a variable `name = 'Junpei'` and variable `phone = '212-998-0100'`. Use the values of these variables to create and print the message `Call Junpei at 212-998-0100`.

In [ ]:
name = 'Junpei'
phone = '212-998-0100'

print(YOUR SOLUTION HERE!)

#### String length

`len(str)`: length of a string, number of characters

In [ ]:
word = "KFC to sell Beyond Meat's plant-based 'fried chicken' in the southern U.S." 
print(len(word))

In [ ]:
print("The length of the text above is", len(word), "characters")

### Exercise

You are given a brief news article, stored in the variable `news`. Compute the length of the article, in characters.

In [ ]:
news = '''
The remnants of the severe winter storm that overwhelmed New England with
 heavy snow and hurricane-force gusts lingered Sunday in Canada,
 leaving a trail of power outages in the coastal areas of Massachusetts.
'''

In [ ]:
# Your solution here
print(YOUR SOLUTION HERE!)

#### Capitalization

Now let's see how we can change the capitalization of the text. This will also be our first, informal, introduction to a new type of function. 

* `str.upper()`: returns an uppercase version of a string
* `str.lower()`: returns a lowercase version of a string

In [ ]:
print(news.lower())

In [ ]:
print(news.upper())

In [ ]:
# Notice that the original 'news' variable did not change
print(news)

In [ ]:
# If we want to keep the changed-case version, we need to store it in a variable
lowercase_news = news.lower()
print(lowercase_news)

##### Small de-railing

The `.lower()` is a function that applies only to string variables. Notice the different way that we apply the function, compared to, say, the `len(news)` above. In this case, we have a string variable (`news`), then we have a dot (`.`), and then we put the name of the function: (`lower()`). Notice that we have the two parentheses at the end, which indicate that the function does not have any arguments, except for the `news` variable. Notice that if we omit the parentheses, we will get a strange result:

In [ ]:
print(news.lower())