# Common Loop Patterns

When we use loops, there are often a set of common patterns that we use. For example, we may go through all the elements of a list and find the items with the highest value. Or do something with every element of the list, and store the result in another.

Below, we will discuss a few of these common patterns. Most of these patterns have the following structure:

* Initialize one or more variables before the loop starts
* Perform some computation on each item in the loop body, possibly changing the variables in the body of the loop
* Look at the resulting variables when the loop completes

## Summing Elements (we will go swiftly, continuation from the last exercise of J2)

Let's say now that we want to sum all the elements in a list. 

Here is an example list:

In [ ]:
numbers = [40, 27, 50, 15, 32, 16, 31, 38, 45, 33]

We could of course use the `sum()` function,

In [ ]:
sum(numbers)

 but let's write this as a loop, to understand the pattern.

We need to keep the sum in a variable, so let's introduce a variable, say `result` (don't call it `sum`, as that is the name of the function.)

Initially we set the result to 0. Then every time we encounter a new element, we increase the value of the result by the corresponding amount.

In [ ]:
result = 0

for num in numbers:
    print("Processing number:", num)
    result += num
    print("The current sum is", result)

## Finding the Maximum

Let's see an example now, where we have a list of positive numbers and we want to find the largest one in the list.

Here is an example list:

In [ ]:
numbers = [40, 27, 50, 15, 32, 16, 31, 38, 45, 33]

Of course, in most cases, to find the maximum element we can just write

In [ ]:
max(numbers)

but we want now to see how we can find the maximum using a `for` loop.

The first thing that we do is to create a variable (say, `maximum`) that contains the largest value we have seen so far.

Initially, we can set it to -1, which is by definition smaller than any of the numbers that we will deal with (as we will only deal with positive numbers).

Then, we go through all the numbers, using a for loop. If we find a number that is greater than the current `maximum` we change the value of maximum to be the new largest number that we encountered.

In [ ]:
numbers = [40, 27, 50, 15, 32, 16, 31, 38, 45, 33]

maximum = -1
for num in numbers: 
    print("Processing number:", num)
    if num > maximum:
        maximum = num
        print("We found a new maximum:", maximum)
    print("The current maximum is:", maximum)

Now, notice that our code relies on the assumption that all elements are going to be positive. So, setting the maximum initially to -1 works.

However, what happens if the assumption does not hold? Let's say that we want to find the smallest number in a list. 

Let's see how we can do that.

## Exercise



1.   Modify the code above to find the largest **odd** numbers (numbers divisible by 2).
2.   Modify the code above to find the largest number below **target**. Here, we set `target = 40`.
3.   Modify the code above to find the **second** largest number.

In [ ]:
YOUR CODE of 1 here

In [ ]:
YOUR CODE of 2 here

In [ ]:
YOUR CODE of 3 here

## Finding the Minimum (we may skip this)

Let's change now the problem, and try to find the minimum. We will take our prior code and change `maximum` to `minimum` and then change the comparison from `    if num > maximum:` to     `if num <minimum:`

In [ ]:
numbers = [40, 27, 50, 15, 32, 16, 31, 38, 45, 33]

minimum = -1
for num in numbers: 
    print("Processing number:", num)
    if num < minimum:
        minimum = num
        print("We found a new minimum:", minimum)
    print("The current minimum is:", minimum)

Of course this is not right. Perhaps we should change `minimum` to be a larger number (say 1,000,000 or 1,000,000,000). However, we still do not know if this will be right. What is the list contains all numbers greater than a billion? Again, we would face the same problem.

One way to avoid this issue, is to set `minimum = None`, which means that the value `minimum` is not a number.

Then, we can change the code as following, adding a check to see if `minimum == None`. In that case, we added the conditional, and the code runs as intended.

In [ ]:
numbers = [40, 27, 50, 15, 32, 16, 31, 38, 45, 33]

minimum = None
for num in numbers: 
    print("Processing number:", num)
    if minimum == None:
        minimum = num
        print("We found a new minimum:", minimum)
    if num < minimum:
        minimum = num
        print("We found a new minimum:", minimum)
    print("The current minimum is:", minimum)

## Counting Elements

Now let's say that we want to count how many elements in a list of numbers are above a given threshold (say, 30). How can we  do that? 

For that, we can use a _counting_ variable (let's call it `count`) where we will store the number of elements that satisfy a condition:

In [ ]:
count = 0 
threshold = 30

for num in numbers: 
    print("Processing number:", num)
    if num > threshold:
        count = count + 1
        print("We found a number above", threshold, "and we increased count to", count)

print("We have", count, "numbers above", threshold)

## Exercise
Write a program that counts how many **odd** numbers in a list.

In [ ]:
# YOUR CODE HERE.

## Finding an element in the list

Let's say that we want to search a list of names to see if there is an element that contains a particular string.

For example, we have the list of NBA teams, and we want to find the team that plays in _Brooklyn_.

We will start by creating a `looking_for` variable for storing the value of `Brooklyn`.

Then we will use the loop to to through the list of teams, to find whether any of the team names contains the `looking_for` string.

In [ ]:
nba_teams = [
    "Atlanta Hawks", "Boston Celtics", "Brooklyn Nets", "Charlotte Hornets",
    "Chicago Bulls", "Cleveland Cavaliers", "Dallas Mavericks",
    "Denver Nuggets", "Detroit Pistons", "Golden State Warriors",
    "Houston Rockets", "Indiana Pacers", "LA Clippers", "Los Angeles Lakers",
    "Memphis Grizzlies", "Miami Heat", "Milwaukee Bucks",
    "Minnesota Timberwolves", "New Orleans Pelicans", "New York Knicks",
    "Oklahoma City Thunder", "Orlando Magic", "Philadelphia 76ers",
    "Phoenix Suns", "Portland Trail Blazers", "Sacramento Kings",
    "San Antonio Spurs", "Toronto Raptors", "Utah Jazz", "Washington Wizards"
]
print("The list contains", len(nba_teams), "teams")

In [ ]:
looking_for = "Brooklyn"
for team in nba_teams:
    if looking_for in team: 
        print("We found the team:", team, "containing", looking_for)

Now let's say that we want to store the team name that contains the string `looking_for`, so that we can reuse it later. We will store the result in the `result` variable.

In [ ]:
looking_for = "Brooklyn"

result = None
for team in nba_teams:
    if looking_for in team: 
        result = team # memorize it!
        print("We found the team:", team, "containing", looking_for)
        
print("Result:", result)

Notice that it is not possible to skip creating the `result` variable, if we want to keep the value of the team that we are looking for outside the loop.

In [ ]:
# Notice that we get an incorrect result if we assume that `team` will contain the answer
# The loop will continue running
looking_for = "Brooklyn"
for team in nba_teams:
    if looking_for in team: 
        print("We found the team:", team, "containing", looking_for)

print("Result:", team)

Now notice what would happen if we look for the term "New"

In [ ]:
looking_for = "New"
for team in nba_teams:
    if looking_for in team: 
        result = team
        print("We found the team:", team, "containing", looking_for)
        
print("Result:", result)

This time we find two teams during our loop that pop up matching ‘new’, the pelicans and knicks, but at the end, result only contains ‘knicks’.
This is because result stores only the last variable.

What can we do if we have multiple results matching, we need to do something to hold multiple results. Let’s see another common pattern next, where we process one list and the result will be another list

## Exercise
Write a program that memorize the **first** team with "New" (without holding multiple results -- the way to hold multiple results is described in the next section).

```
New -> New Orleans Pelicans
```

## Creating a new list

Let's see now another pattern that we are frequently using: Process _all_ the elements of a list to generate another list.

We will use our example with the NBA teams and franchises, that we examined earlier. This time, instead of just printing out the results, we will store the franchise names in a new list.

In [ ]:
nba_teams = [
    "Atlanta Hawks", "Boston Celtics", "Brooklyn Nets", "Charlotte Hornets",
    "Chicago Bulls", "Cleveland Cavaliers", "Dallas Mavericks",
    "Denver Nuggets", "Detroit Pistons", "Golden State Warriors",
    "Houston Rockets", "Indiana Pacers", "LA Clippers", "Los Angeles Lakers",
    "Memphis Grizzlies", "Miami Heat", "Milwaukee Bucks",
    "Minnesota Timberwolves", "New Orleans Pelicans", "New York Knicks",
    "Oklahoma City Thunder", "Orlando Magic", "Philadelphia 76ers",
    "Phoenix Suns", "Portland Trail Blazers", "Sacramento Kings",
    "San Antonio Spurs", "Toronto Raptors", "Utah Jazz", "Washington Wizards"
]
print("The list contains", len(nba_teams), "teams")

Now, we create an empty list `franchise_names = []` where we are going to store the franchise names for the different teams. So, instead of printing the franchise name, we will add it to the `franchise_names` list. So, we will change our earlier loop:

```python
    for team in nba_teams:
        franchise = team.split()[-1]
        print(team, "\t ==>\t", franchise)
```

into the following:

In [ ]:
franchise_names = []
for team in nba_teams:
    franchise = team.split()[-1]
    # print(team, "\t ==>\t", franchise)
    franchise_names.append(franchise)

So this loop does not print anything out, but instead appends each team name into the `franchise_names` list. 
Once we execute the loop, we can then print out the names of the teams:

In [ ]:
# Print the list
print(franchise_names)

In [ ]:
# Or use a loop to print each name in a separate line  
print("List of NBA franchise names")
for franchise_name in franchise_names:
    print(franchise_name)

## Exercise
Write a program that create the **list** of places where the teams are located.



```
Brooklyn Nets -> Brooklyn
New York Knicks -> New York  
```
Caution: Need a trick to deal with New York