### Built-in functions

Python provides a set of functions already built-in. You are already very familiar with one of them:

In [1]:
# Here print is the function
# Within parentheses we pass ONE parameter, the string with the message
print("Oh yeah, I am a function! I print things on the screen")

Oh yeah, I am a function! I print things on the screen

In [ ]:
# The print function can take more than one parameter
# For example below we pass three strings as parameters
name = "Junpei"
print("Hi", name, "How are you")

- You have already encountered `len`, `sum`, `max`, and `min`.

In [3]:
nums = [3, 41, 12, 9, 74, 15]

# len() takes as a parameter a string (and returns its length in characters)
# or a list/set/dictionary/... (and returns the number of elements)
print("Length:", len(nums))

Length: 6

In [4]:
# max() / min() takes as a parameter a *list* and returns 
# the maximum or minimum element
print("Max:", max(nums))
print("Min:", min(nums))

Max: 74
Min: 3

In [ ]:
# sum() gets as input a list of numbers and returns their sum
print("Sum:", sum(nums))

- We have also used various type conversion functions, such as `set`, `list`,  and `tuple`. We can also do type conversions with  `int`, `float`, and `str`:

In [5]:
# Convert to integer
int(3.7)

3

In [6]:
# Convert to float
float('6.8')

6.8

In [7]:
# Convert to string 
str(233)

'233'

- And, we used  `type` to find out the type of a given variable.

In [8]:
# Type for a float
x = 1.99
type(x)

float

In [9]:
# Type for an element of a list
type(nums[1])

int

- In a variety of contexts, we also used the  `range` and `sorted` functions.

In [10]:
list(range(-10,10,2))

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]

In [11]:
# sorted() has a list as input and returns the list with the elements sorted
sorted([5,23,3,77,9,12])

[3, 5, 9, 12, 23, 77]

- You may also have seen the `round` function:

In [12]:
round(3.14159, 2)

3.14

The list at https://docs.python.org/3/library/functions.html contains all the built-in functions of Python.    
**As a general rule of thumb, avoid using these bult-in function names as variable names.**

### Functions from Libraries

We can also add more functions by `import`-ing libraries. For example, we can import the `math` library.

In [13]:
import math

In [14]:
# math.fabs returns the absolute value
math.fabs(-2345)

2345.0

In [15]:
# math.fabs takes the factorial
math.factorial(5)

120

In [16]:
math.factorial(5)  ==  5*4*3*2*1

True

Another commonly used library is the `random` library that returns random numbers.

In [18]:
import random

In [17]:
# random.random() returns random values from 0 to 1
for i in range(10):
    print(round(random.random(), 3))

NameError: name 'random' is not defined

In [ ]:
#random.choice() can be used to select items from a list
for i in range(5):
    print(random.choice(['a','b','c','d']))

And, you have seen the `time` package

In [ ]:
import time
time.sleep(2)
print("I waited 2 secs.")

### User Defined Functions


** See also Examples 18, 19, 20, and 21 from Learn Python the Hard Way **

Functions assign a name to a block of code the way that variables assign names to bits of data. This seemingly benign naming of things is incredibly powerful; allowing one to reuse common functionality over and over. Well-tested functions form building blocks for large, complex systems. As you progress through Python, you'll find yourself using powerful functions defined in some of Python's vast libraries of code.

Function definitions begin with the `def` keyword, followed by the name you wish to assign to a function. Following this name are parentheses, `( )`, containing zero or more variable names, those values that are passed into the function. There is then a colon, followed by a code block defining the actions of the function:

    def function_name(function_input)
        ... function actions ...

#### Printing "Hi"

Let's start by looking at a function that performs a set of steps.

In [2]:
def print_hello():
    print("Hello!")

In [3]:
for i in range(10):
  print_hello()

Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!

* Of course, most functions have also one or more _parameters_. For example, the function below will accept the name as a parameter, and then print out the message "HI _name_", where _name_ is the value of the parameter that we pass to the function. The function will also convert the _name_ into uppercase:

In [ ]:
def hi_you(name):
    '''
    This function takes as input/parameter the variable name
    And then prints in the screen the message 
    HI <NAME>! 
    where <NAME> is the content of the name variable converted to uppercase
    '''
    print("Hi", name.upper())

In [ ]:
names = ['Elsa', 'Anna', 'Olaf', 'Kristoff']
for n in names:
    hi_you(n)

### Exercises

* Let's modify the `hi_you` to take as input a *list* of names and print out all of them

In [ ]:
def hi_you_all(list_of_names):
    '''
    This function takes as input/parameter list_of_names
    And then prints in the screen the message 
    HI <NAME>! 
    for all the names in the list_of_names.
    
    The paramater 'names' is a list of strings, with every string
    being a name that we want to print out
    '''

    YOUR_CODE_HERE. # Say "Hi {name}" to all the people in list_of_names

In [ ]:
names = ['Elsa', 'Anna', 'Olaf', 'Kristoff']
hi_you_all(names)

* (if you have time) Write a function that generates a random password with `n` letters. The value `n` should be a parameter.

In [ ]:
# This code prints all the letters in the alphabet
import string
string.ascii_letters

In [ ]:
# This code generates one random letter
import random
random.choice(string.ascii_letters)

# Your function `random_password`(n) here.
# random_password, upon a call, generate and print n random letters.

#### The `return` statement 

Example of computing a math function

In [ ]:
# The functions are often designed to **return** the
# result of a computation/operation
def mysquare(num):
  return num * num

In [ ]:
x = mysquare(3) # notice that square RETURNS a value that 
              # we store in variable x 
              # this is in contrast to hi_you and hi_you_all
              # that just printed out messages on the screen
print(x)

In [ ]:
for i in range(15):
    print(f"The square of {i} is {my_square(i)}")

Note that the function `my_square` has a special keyword `return`. The argument to return is passed to whatever piece of code is calling the function. In this case, the square of the number that was input.

### Exercises

- Write a function to test whether two strings are equal, ignoring capitalization.

In [ ]:
# Your function `string_equal` here

print(string_equal("James", "jaMES"))   # True
print(string_equal("James", "Joseph"))  # False

#### Solving the quadratic equation (we will skip this: read by yourself!)

Here is another example of a function, for solving the quadratic equation 
$$ a*x^2 + b*x + c = 0$$
Recall that the quadratic formula is:
$$ x = \frac{-b \pm \sqrt{b^2 - 4ac}}{2a}$$

In [4]:
import math

a = 4
b = -32
c = 1

In [5]:
# We want to solve the quadratic equation a*x^2 + b*x + c = 0 

# We have two solutions:
s1 = (-b + math.sqrt(b**2 - 4*a*c) )  / (2*a)       
s2 = (-b - math.sqrt(b**2 - 4*a*c) )  / (2*a)       

print(f"Solution 1: {s1:.3f}")
print(f"Solution 2: {s2:.3f}")

Solution 1: 7.969
Solution 2: 0.031

Let's see an example of how a function can return "multivalued" results using tuples/lists.

In [6]:
def quadratic(a,b,c) :       # Function takes a,b,c as input

    s1 = (-b + math.sqrt(b**2 - 4*a*c))/(2*a)   
    s2 = (-b - math.sqrt(b**2 - 4*a*c))/(2*a)   
    
    return s1, s2   # Note that we can return multiple things
                    # The "return" value does not have to be a single value
                    # A function can even return a list, tuple, dictionary, etc.

In [7]:
# Observe that the function returns a tuple with s1 and s2
sol = quadratic(a,b,c)

print("Solutions:", sol )
print("Solutions:", sol[0] )
print("Solutions:", sol[1] )

Solutions: (7.9686269665968865, 0.031373033403113926)
Solutions: 7.9686269665968865
Solutions: 0.031373033403113926

In [ ]:
# If we want, we can even assign a value to each item returned, like so:
sol1, sol2 = quadratic(a,b,c)

print("Solutions:", sol1 )
print("Solutions:", sol2 )

In [ ]:
# We can even check that the value of the discriminant
# is positive before returning a result

def quadratic(a,b,c):
    
    discr = b**2 - 4*a*c
    if discr < 0:          #  We will not compute 
        return None        # "None" is a special value, meaning "nothing"
    
    s1 = (-b + math.sqrt(b**2 - 4*a*c))/(2*a)   
    s2 = (-b - math.sqrt(b**2 - 4*a*c))/(2*a)   
    
    return s1, s2

In [ ]:
quadratic(6,1,9)

In [ ]:
quadratic(6,27,9)

In [ ]:
## A COMMON MISTAKE:
# Using multiple return statements
# Why? After we execute the first return, 
# we do not execute anything below that

def quadratic_s1_only(a, b, c):
    discr = b**2 - 4*a*c
    if discr < 0:          #  We will not compute 
        return None        # "None" is a special value, meaning "nothing"
    
    
    s1 = (-b + math.sqrt(b**2 - 4*a*c))/(2*a)   
    s2 = (-b - math.sqrt(b**2 - 4*a*c))/(2*a)   
    
    return s1 # solution 1 
    return s2 # solution 2, BUT this will never be executed

In [ ]:
quadratic_s1_only(a, b, c)

#### Example function: Cleaning up a string
We can use the `string` library to get a list of all letters by typing `string.ascii_letters`.

In [ ]:
# this function takes as input a phone string variable
# and removes anything that is not a letter or space

def clean(text):
    result   = ""
    letters  = string.ascii_letters + " "
    for c in text:  
        if c in letters:
            result = result + c
    return result

In [ ]:
p = "The Washington Post has 17.7m Followers and 1688 Following"
print(clean(p))

#### Exercises

* Write a function `in_range` that checks if a number `n` is within a given range `(a,b)` and **returns True or False**. The function takes n, a, and b as parameters.

In [19]:
# Your function here
def in_range(n, a, b):
  YOUR CODE HERE

print(in_range(5, 0, 10)) # 5 is between 0 and 10 -> True
print(in_range(3, 5, 10)) # 3 is NOT between 5 and 10 -> False

SyntaxError: invalid syntax (3575933309.py, line 3)

* Write a `dedupe` function that takes as input a list and returns back another list, with only unique elements and sorted. For example, if the input is `[1,2,5,5,5,3,3,3,3,4,5]` the returned list should be `[1, 2, 3, 4, 5]`. If the input is `['New York', 'New York',  'Paris', 'London', 'Paris']` the returned list should be `['London', 'New York', 'Paris']`.

In [ ]:
list1 = [1,2,5,5,5,3,3,3,3,4,5]
list2 = ['New York', 'New York', 'Paris', 'London', 'Paris']

# Your function `dedupe` here
def dedupe(input_list):
  # Hint: Convert the list into a set to make each element unique, and use `sorted` to make it sorted. 
  # then return the result
  YOUR CODE HERE

print(dedupe(list1))