Q1. Explain all iterations of the for loop below; clarify the state of all related variables for each iteration. Also, what is the value of the variable result at the end?

In [2]:
alphabets = "abcdefghijklmnopqrstuvwxyz”
digits = "0123456789”
def NYU_id(astr):
	flag_alphabet = False
	for char in astr:
		if not flag_alphabet and char in alphabets:
			flag_alphabet = True
		elif char in digits:
			return True
	return False

result = NYU_id(“jk190”)

SyntaxError: EOL while scanning string literal (330591736.py, line 1)

The given code defines a function NYU_id(astr) that takes a string astr as input and checks if it is a valid NYU ID, which consists of at least one alphabet followed by zero or more digits.

Here is a step-by-step explanation of how the for loop in the function works:

First iteration:
char = "j", flag_alphabet = False
not flag_alphabet evaluates to True, because flag_alphabet is False
char in alphabets evaluates to True, because "j" is a lowercase alphabet
flag_alphabet is set to True
Second iteration:
char = "k", flag_alphabet = True
not flag_alphabet evaluates to False, because flag_alphabet is now True
char in digits evaluates to False, because "k" is not a digit
Third iteration:
char = "1", flag_alphabet = True
not flag_alphabet evaluates to False, because flag_alphabet is still True
char in digits evaluates to True, because "1" is a digit
The function returns True because a digit was found after the first alphabet.
Thus, the value of the variable result will be True, because the input string "jk190" contains at least one alphabet followed by one or more digits.

Q2. Show an example (parameters to NYU_id, such as “jk190”) where the function NYU_id incorrectly classifies a valid/invalid nyu id string.

In [8]:
#One example where the function NYU_id incorrectly classifies a valid NYU ID string as invalid is the input string "J1k9".

#Here's why:

# The first character, "J", is an uppercase alphabet and satisfies the condition for a valid NYU ID.
# The second character, "1", is a digit and satisfies the condition for a valid NYU ID.
# The third character, "k", is a lowercase alphabet and satisfies the condition for a valid NYU ID.
# The fourth character, "9", is a digit and satisfies the condition for a valid NYU ID.
# Therefore, "J1k9" is a valid NYU ID. However, the function NYU_id will incorrectly classify it as invalid, because it checks only for lowercase alphabets and not uppercase ones.

# To fix this issue, we can modify the function to include uppercase alphabets as valid characters, like this:

alphabets = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ"
digits = "0123456789"

def NYU_id(astr):
    flag_alphabet = False
    for char in astr:
        if not flag_alphabet and char in alphabets:
            flag_alphabet = True
        elif char in digits:
            return True
    return False
user_input = input('Enter net ID = ')
NYU_id(user_input)

#With this modification, the input string "J1k9" will be correctly classified as a valid NYU ID.

True

In [1]:
for i in range (1,6):
    print(i)

1
2
3
4
5

In [5]:
students = {
    "Alice"  : { "grade"    : 91,
                  "duration"  : "2 hours 15 mins",
                  "opening"   : 2018,
                  "closed"    : 2020
               },
    "Jasper":{ "grade"    : 91,
                  "duration"  : "2 hours 30 mins",
                  "opening"   : 1997,
                  "closed"    : False
               },
    "Wicked" :  { "grade"    : 91,
                  "duration"  : "2 hours 45 mins",
                  "opening"   : 2003,
                  "closed"    : False
               },
    "Chicago" : { "grade"    : 91,
                  "duration"  : "2 hours 30 mins",
                  "opening"   : 1996,
                  "closed"    : False
    }
}

In [6]:
grades = 0
for i in students:
    grades += students[i]["grade"]

grades_average = grades/len(students)
print(grades_average)

91.0

In [4]:
age = input("Enter your age = ")
student = input("Are you a student? (Y/N) = ")
member = input("Are you a member? (Y/N) = ")
def MET_Tickets(age, student, member):
    if member == "Y":
        price = 0
    elif member == "N":
        if int(age) <12:
            price = 0
        elif int(age) >65:
            price = 17
        elif 12<int(age)<65 :
            if student =="Y":
                price = 22
            elif student =="N":
                price = 35
    return price

MET_Tickets(age,student,member)

22

In [5]:
words =['apple', 'eggs','bananas']
a_or_e_words = []
for i in words:
    if i[0] == 'a':
        a_or_e_words.append(i)
    elif i[0] == 'e':
        a_or_e_words.append(i)

print(a_or_e_words)

['apple', 'eggs']

are all statements within a while statements executed?
While 
    state A
    state B
    state C

My ans: True

are all return statements in function performed at least once even if there is more than one return?
my ans: True

if number