## Setting up environment

In [ ]:
from sqlalchemy import create_engine

conn_string = 'mysql://{user}:{password}@{host}/{database}?charset=utf8'.format(
    host = 'mysql-techub-2300010003-spring.db', 
    user = 'dbreader',
    password = 'ub232023',
    database = 'world')

engine = create_engine(conn_string)
con = engine.connect()

Prepare sql_magic library that enable to query to database easily.

In [ ]:
%reload_ext sql_magic
%config SQL.conn_name = 'engine'

#### PLEASE RUN THIS CELL. This cell limits the maximum number of records to obtain for ease of computation.

In [ ]:
%%read_sql
SET sql_safe_updates=1, sql_select_limit=1000, max_join_size=1000000000;

#### Q. `Show` the list of databases

In [ ]:
%%read_sql
YOUR QUERY HERE

#### The following declares that we use the `world` database.

In [ ]:
%%read_sql
use world;

### Now everything is ready and you should start querying SQL! 

We have connected to the `world` database, imported from the MySQL official [website](https://dev.mysql.com/doc/index-other.html). Now we retrieve information from the database.

Note: You can find the ER diagram of `world` database [here](https://www.testingdocs.com/entity-relationship-model/).

In [ ]:
%%read_sql
YOUR QUERY HERE

#### Q. `Show` the list of tables.

In [ ]:
%%read_sql
YOUR QUERY HERE

#### Q. `Describe` each table.

In [ ]:
%%read_sql
YOUR QUERY HERE

In [ ]:
%%read_sql
YOUR QUERY HERE

In [ ]:
%%read_sql
YOUR QUERY HERE

#### Q. `Select` all records in `country` table.

In [ ]:
%%read_sql
YOUR QUERY HERE

#### Q. Obtain the first 10 records in `city` table.

In [ ]:
%%read_sql
YOUR QUERY HERE

### More meaningful queries

#### Q. `Select` all records in `country` table, alphabetical order in Name.

In [ ]:
%%read_sql
YOUR QUERY HERE

#### Q. `Select` all records in `country` table, alphabetical order in Name, the first 11-20 countries.

In [ ]:
%%read_sql
YOUR QUERY HERE

#### Q. `Select` all countries with 100 million people or more.

In [ ]:
%%read_sql
YOUR QUERY HERE

#### Q. `Select` all countries with its independence year in 20th century

In [ ]:
%%read_sql
YOUR QUERY HERE

#### Q. `Select` all cities in Asia or Europe, by using "IN" clause

In [ ]:
%%read_sql
YOUR QUERY HERE

#### Q. `Select` all cities with its CountryCode "USA"

In [ ]:
%%read_sql
YOUR QUERY HERE

#### Q. Obtain the list of languages with its CountryCode "USA"

In [ ]:
%%read_sql
YOUR QUERY HERE

#### Q. Obtain the list of languages with its CountryCode "USA" and spoken by more than 1% of the people

In [ ]:
%%read_sql
YOUR QUERY HERE

#### Q. `Select` the number of cities in New York State

In [ ]:
%%read_sql
YOUR QUERY HERE

#### Q. `Select` all cities that starts with "N"

In [ ]:
%%read_sql
YOUR QUERY HERE

#### Q. `Select` all cities that starts with "N" and ends with "K"

In [ ]:
%%read_sql
YOUR QUERY HERE

#### Q. `Select` all countries that starts with one of "A", "B", or "C".

(Optional): Use `LEFT` https://www.w3schools.com/sql/func_mysql_left.asp

In [ ]:
%%read_sql
YOUR QUERY HERE