# MySQL Additional Exercises (IMDB)

In [1]:
from sqlalchemy import create_engine

conn_string = 'mysql://{user}:{password}@{host}/{database}?charset=utf8'.format(
    host = 'mysql-techub-2300010003-spring.db', 
    user = 'dbreader',
    password = 'ub232023',
    database = 'imdb')

engine = create_engine(conn_string)
con = engine.connect()

### IF the connections is established. You will see texts like 

```
<sqlalchemy.engine.base.Connection object at 0x7f8242330780>
```

Prepare sql_magic library that enable to query to database easily.

In [4]:
%reload_ext sql_magic
%config SQL.conn_name = 'engine'

#### CAUTION! PLEASE RUN THIS CELL! This cell limits the maximum number of records to obtain.

In [5]:
%%read_sql
SET sql_safe_updates=1, sql_select_limit=1000, max_join_size=10000000;

Query started at 10:01:13 PM EDT; Query executed in 0.00 m

Now we are all set! Let us start querying data from IMDB database.

In [6]:
%%read_sql
USE imdb;

Query started at 10:01:17 PM EDT; Query executed in 0.00 m

In [7]:
%%read_sql
show tables;

Query started at 10:01:20 PM EDT; Query executed in 0.00 m

     Tables_in_imdb
0        NameBasics
1      NameKnownFor
2    NameProfession
3       TitleBasics
4         TitleCrew
5    TitleDirectors
6      TitleEpisode
7       TitleGenres
8   TitlePrincipals
9      TitleRatings
10     TitleWriters

#### FYI: IMDB Database ERD

https://www.researchgate.net/figure/IMDb-logic-data-model_fig2_334518426

![alt text](https://drive.google.com/uc?id=1nw41s12Hozx3pqeS6eIvK4oRCIomqAKx)

See also
> https://www.imdb.com/interfaces/

## Additional Exercises

### Easy

Q. Return all movies in 2022

In [8]:
%%read_sql
YOUR ANSWER HERE

Query started at 10:01:24 PM EDT

ProgrammingError: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'YOUR ANSWER HERE' at line 1")
[SQL: YOUR ANSWER HERE]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Mid

Q. Obtain the number of movies in each year between 2000 and 2021.

In [ ]:
%%read_sql
YOUR ANSWER HERE

The following obtains the genres of the videoGame "Elden Ring" (2022).

In [ ]:
%%read_sql
select * from TitleGenres 
where tconst = "tt10562854";

Q. Obtain primaryTitle of all videoGames released in 2022, 
with its genres exactly "Action", "Adventure", and "Fantasy", by using TitleBasics and TitleGenres tables;

In [ ]:
%%read_sql
YOUR ANSWER HERE

### Hard (CTE)

The following returns the list of episodes in the Sherlock of BBC.

c.f. https://www.imdb.com/title/tt1475582/episodes?ref_=tt_eps_sm

In [ ]:
%%read_sql
select * from TitleEpisode where parentTconst = "tt1475582";

Q. Obtains the shortest episode (primaryTitle) of the BBC Sherlock (by  single query).

In [ ]:
%%read_sql
YOUR ANSWER HERE